@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --primary-color: #9dffb0;
  --secondary-color: #81f1f7;
  --accent-color: #fffffa;
  --highlight-color: #c48d3f;
  --block-color: #fff563;
}*/

* {
  margin-left: 1%;
  margin-right: 1%;
  font-size: medium;
}

body {
  background-image: url(../assets/background_c.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  padding: 6px 20px;
  background-color: grey;
  font-size: 1vw;
  margin-top: 5px;
  color: white;
  width: 20%;
}
button:active {
  transform: scale(0.9);
}
